@model Department

<div class="d-flex justify-content-center">   
    <h1>Add New Department</h1>
</div>

<br />
<br />
<br />

<form action="~/Department/Create" method="post">
    
    <div class="form-group">
        <label for="DeptName" class="form-label">Department Name</label>
        <input type="text" id="DeptName" name="DeptName" class="form-control" />
    </div>

    <input type="submit" value="Create Department" class="btn btn-success my-5"/>
    <a href="~/Department/Index" class="btn btn-secondary">Cancel</a>

</form>