@model Department

<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">Department Name: @Model.DeptName</h5>
        <h6 class="card-subtitle mb-2 text-muted">Department Id: @Model.Id</h6>
        <a href="~/Department/Index" class="btn btn-primary mt-3">Back</a>
    </div>
</div>
